.containerOverride {
    padding-top: 0;
}

.useGlobalFilters {
    padding: 16px 0;
    color: var(--default-description-text);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
