'name': 'test'

'env':
  'GO_VERSION': '1.25.7'
  'NODE_VERSION': '24.13.0'

'on':
  'push':
    'branches':
    - '**'
  'pull_request':

'concurrency':
  'group': test_${{ github.event.head_commit.id }}
  'cancel-in-progress': true

'jobs':
  'test':
    'runs-on': '${{ matrix.os }}'
    'env':
      'GO111MODULE': 'on'
      'GOPROXY': 'https://goproxy.cn'
    'strategy':
      'fail-fast': false
      'matrix':
        'os':
        - 'ubuntu-latest'
        - 'macOS-latest'
        - 'windows-latest'
    'steps':
    - 'name': 'Checkout'
      'uses': 'actions/checkout@v2'
      'with':
        'fetch-depth': 0
    - 'name': 'Set up Go'
      'uses': 'actions/setup-go@v3'
      'with':
        'go-version': '${{ env.GO_VERSION }}'
    - 'name': 'Set up Node'
      'uses': 'actions/setup-node@v6'
      'with':
        'node-version': '${{ env.NODE_VERSION }}'
    - 'name': 'Set up Go modules cache'
      'uses': 'actions/cache@v4'
      'with':
        'path': '~/go/pkg/mod'
        'key': "${{ runner.os }}-go-${{ hashFiles('go.sum') }}"
        'restore-keys': '${{ runner.os }}-go-'
    - 'name': 'Get npm cache directory'
      'id': 'npm-cache'
      'run': 'echo "dir=$( npm config get cache )" >> $GITHUB_OUTPUT'
      'shell': 'bash'
    - 'name': 'Set up npm cache'
      'uses': 'actions/cache@v4'
      'with':
        'path': '${{ steps.npm-cache.outputs.dir }}'
        'key': "${{ runner.os }}-node-${{ hashFiles('client/package-lock.json') }}"
        'restore-keys': '${{ runner.os }}-node-'
    - 'name': 'Run tests'
      'shell': 'bash'
      'run': 'make VERBOSE=1 deps test go-bench go-fuzz'
